.upload-image
{
    border:  dashed;
    /* background-image:  */

    cursor: pointer;
    
}

.font
{
    font-size: 50px;
    color: black;
    cursor: pointer;
}


.fullWidth
{
    width: 100vh;
}

.profile-image
{
    max-width: 200px;
}
.upload-button
{
    cursor:pointer;
}

.isHovered
{
    opacity: 4px;
}
.editbuttonOnhover
{
        cursor: pointer;
        
}

.project-box
{
    border-style: dashed;
}

.project-icon
{
       font-size: 50px;
    color: black;
    cursor: pointer;
}

.downloadButton
{
    cursor: pointer;
    /* font-size: 20px; */
}
.menu
{
    cursor: pointer;
}
.menu-icon-font
{
    font-size: 50px;
}
.menu:hover
{
    color: black;

}

.position
{
    position: fixed;
}
.components-position
{
    position: relative;
}

.goToTop
{
    cursor: pointer;
}

.downloadButtonFont
{
    font-size: 30px;
    font-style: italic;
}

.downloadButtonFont:hover
{
    background-color: gray;
    /* color: white; */


}
.font-net
{
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
}

.font-net:hover
{
    color:gray;
}


.menu-items
{
    cursor: pointer;
    /* color:gray; */
    
}
.menu-items:hover 
{
    background-color: gray;
}

.remove-text-underline
{
    text-decoration: none;
}

.previewButtonFont
{
    font-size: 25px;
    font-style: italic;
}
.previewButtonFont:hover
{
    background-color: gray;
    text-decoration-color: black;
}
